<!DOCTYPE html>
<html>
	<head>
		<title>{{ title }}</title>
		<link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" 
		rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
		crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	</head>
	<body>
		<h1 class="main-title">Favourite Workouts</h1>
			{{#each FAVOURITES}}
				<div class="row" id="{{this.favouriteID}}-card">
					<h3>{{this.createdAt}}</h3>
						{{#each this.exercises}}
							<div class="fav-body">
								<h5 class="fav-title">{{this.exercise}}</h5>
								<p class="fav-text">
									Repetitions: {{this.reps}} <br>
									# of Sets: {{this.sets}}
								</p>
							</div>	
						{{/each}}
				</div>
				<br><button type:"button" class="btn btn-success" id="{{this.FavouriteID}}">
					Remove
				</button><br>
			{{/each}}
	</body>
</html>

<script type="text/javascript">
if (document.addEventListener) {
    document.addEventListener("click", handleClick, false);
}
else if (document.attachEvent) {
    document.attachEvent("onclick", handleClick);
}

function handleClick(event) {
    event = event || window.event;
    event.target = event.target || event.srcElement;
    let element = event.target;
    while (element) {
        if (element.nodeName === "BUTTON" && /btn-success/.test(element.className)) {
            removeFavourite(element);
            break;
        }

        element = element.parentNode;
    }
}

async function removeFavourite(button) {
	let favouriteID = button.getAttribute("id");
	let response = await fetch(`http://localhost:8000/favourites/remove/${favouriteID}`, {
		"method": "delete"
	});
	let data = await response.json()
	if (data.message === "SUCCESS") {
		const card = document.getElementById(`${favouriteID}-card`);
		card.classList.add("fadeout");
		setTimeout(() => {
			card.remove();
		}, 300);
	}
};

</script>
