<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<link href="https://fonts.googleapis.com/css?family=Carter+One&display=swap" 
	rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
	crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>
	<h1 id="title">Your WOD is Ready!</h1>
	<h4>Body part: {{ MuscleGroup }}</h4>
	<h4>Duration: {{ Duration }} minutes</h4>

	<div class="grid-wrapper">
	{{#each EXERCISE}}
	   <div class="box zone">
	   	<div class="box-front">
	   	 	<h1 class="card-title">{{this.exercise}}</h1>
	        	<p class="card-text">
	        		Focus Area: {{this.bodyPart}} <br>
	    			Repetitions: {{this.reps}} <br>
	     			# of Sets: {{this.sets}} <br>
	      	</p>
	      	<h5>Hover for video tutorial</h5>
	      </div>
	       <div class="box-back">
	      	<iframe width="560" height="315" src="https://www.youtube.com/embed/kiGHHL5IYyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	   	</div>
	   </div>
	{{/each}}
	</div>
</body>
</html>


